

.
.jumbotron{
  background-image: url(../2017-03-22-17-06-45-293.jpg);
  color: darkred;
  height: 500px;
  overflow: none;
}



section#bottom
{
  background-color: aqua;
}

@media(max-width: 1200px)
{

}
@media(max-width: 991px){

}